@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <title>@ViewData["Title"]</title>
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/css/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Font Icon -->
    <link href="~/css/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Main css -->
    <link href="~/css/auth.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="signin-main">
        @RenderBody()
    </div>
    <!-- JS -->
    <script src="~/css/vendor/jquery-3.2.1.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>