@page "/auth/forgot-password"
@model ForgotPasswordModel
@{
}

<div class="row">
    <div class="col-md-4">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/images/auth/forgot-password.jpg" alt="sing up image"></figure>

                    </div>

                    <div class="signin-form">
                        <h2 class="form-title ">Enter Email</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label asp-for="Input.Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Input.Email" placeholder="Your email" autocomplete="username" aria-required="true" />
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" value="Reset Password">
                            </div>
                      

                        </form>
                        <div class="mt-40-px">
                            <a href="/auth/signin" class="link-left-dark text-start mt-5">Already have an account?</a>
                            <div class="social-forgot">

                                <span class="social-label">

                                    Or login with
                                </span>
                                <ul class="socials">
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
