@page "/auth/signup"
@model RegisterModel
@{
}
@{
    ViewData["Title"] = "Signup";
    string error = ViewData["error"] == null ? "" : ViewData["error"].ToString();
}
<section class="signup">
    <div class="signin-container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="signin-form-title">Sign up</h2>
              
                <form method="POST" class="signin-register-form" id="register-form">
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    <div class="signin-form-group">
                        <label asp-for="Input.FirstName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Input.FirstName" type="text" placeholder="Your First Name" />
                    </div>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    <div class="signin-form-group">
                        <label asp-for="Input.LastName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Input.LastName" type="text" placeholder="Your Last Name" />
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="signin-form-group">
                        <label asp-for="Input.Email"><i class="zmdi zmdi-email"></i></label>
                        <input asp-for="Input.Email" type="email" id="email" placeholder="Your Email" />
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="signin-form-group">
                        <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="Input.Password" type="password" id="pass" placeholder="Password" />
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <div class="signin-form-group">
                        <label asp-for="Input.ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input asp-for="Input.ConfirmPassword" type="password" id="re_pass" placeholder="Repeat your password" />
                    </div>
                    <div class="signin-form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="signin-agree-term" />
                        <label for="agree-term" class="signin-label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="signin-form-group signin-form-button">
                        <input type="submit" name="signup" id="signup" class="signin-form-submit" value="Register" />
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="~/images/auth/signup-image.jpg" alt="sing up image"></figure>
                <a href="/auth/signin" class="signup-image-link">I am already member</a>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
