@page
@model PersonalMoney.Pages.ChangePasswordModel
@{
    <style>
        .text-primary {
            color: black !important;
        }
    </style>
    <div id="pageTitle">
        <nav>
            <ol class="breadcrumb" style="cursor: pointer;">
                <li class="breadcrumb-item">Settings</li>
                <li class="breadcrumb-item active"><a href="/ChangePassword">Security</a></li>
            </ol>
        </nav>
    </div>
    <section id="main-content" style="padding-top: 16px; min-height: 100vh;">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
        <div class="container bootstrap snippets bootdey" style="margin-top: 10px;">
            <h3 class="title-5 m-b-35">Change Password</h3>
            <hr>
            <p style="color: red;">@Request.Query["mess"]</p>
            <div class="row">
                <div class="col-md-9 personal-info">
                    <form action="/settings/change-password" method="POST" id="edit-profile-form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Old password:</label>
                            <div class="col-lg-6">
                                <input class="form-control" type="password" name="oldPassword" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">New password:</label>
                            <div class="col-lg-6 otp-send-box">
                                <span id="message"></span>
                                <input class="form-control" id="password" type="password" name="newPassword" pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z0-9]{6,}$" title="At least 1 numeric and 1 uppercase character, minimum length is 6" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Re-password:</label>
                            <div class="col-lg-6 otp-send-box">
                                <input class="form-control" id="repeatPassword" type="password" name="rePassword" pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z0-9]{6,}$" title="At least 1 numeric and 1 uppercase character, minimum length is 6" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6 otp-send-box">
                                <input id="submit-change-password" type="submit" value="Confirm" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <script src="@Url.Content("~/assets/javascript/forgot-password.js")"></script>
    <script src="@Url.Content("~/assets/javascript/change-pass.js")"></script>
}
